* {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(246, 189, 0);
  /* width: 100%; */
  /* height: 100%; */
}

.nav {
  background: black;
  padding: 10px;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
}

.navItem {
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(236, 218, 202);
}

.body {
  background-color: rgb(240, 236, 229);
  width: 700px;
  margin: 1px;
  padding: 20px;
}

.h2 {
  padding-bottom: 10px;
}
.list {
  list-style: none;
  height: 40px;
  background-color: slategray;
  margin-top: 10px;
  margin-bottom: 10px;
  color: aliceblue;
  font-size: larger;
  font-weight: 500;
  padding: 6px;
}

.td {
  width: 700px;
}

.form {
  padding-bottom: 3px;
}
.divRating {
  padding: 5px;
  padding-right: 5px;
  width: 600px;
  height: 40px;
  background-color: slategray;
}
.label {
  padding-right: 18px;
  color: white;
}
.titleInput {
  width: 600px;
  height: 40px;
  text-align: start;
}
.reviewInput {
  width: 600px;
  height: 400px;
  text-align: start;
  justify-content: start;
}
.button {
  padding: 5px;
  font-size: large;
  border-style: solid;
}
/* 

.App-link {
  color: #61dafb;
} */
